name: doorstop-mcp

volumes:
  doorstop_data:

services:
  server:
    image: doorstop-mcp
    pull_policy: build
    build: .
    restart: unless-stopped

    ports:
      - "3001:3001"
      - "7867:7867"

    volumes:
      - doorstop_data:/usr/src/doorstop/reqs

    deploy:
      # prevent malfunction of this container from affecting the host
      resources:  
        limits:
          cpus: '2'
          memory: 4G
          pids: 48
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3

  inspector:
    image: ghcr.io/modelcontextprotocol/inspector:latest
    ports:
      - 6274:6274
      - 6277:6277
      - 3002:3001
    environment:
      - HOST=0.0.0.0
      - MCP_AUTO_OPEN_ENABLED=false
      - MCP_PROXY_FULL_ADDRESS=http://inspector:3002/
      - ALLOWED_ORIGINS=http://inspector:6274,http://127.0.0.1:6274
    profiles:
      - inspector

  # To connect to the MCP server, fill http://server:3001/mcp in the URL field
